<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.strain.dal.mysql.freezingtubestockpreentry.SpecimenInfoMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="selectPage2"
            resultType="cn.iocoder.yudao.module.strain.controller.admin.freezingtubestockpreentry.vo.FreezingTubeStockPreEntryRespVO">
        SELECT
        t2.nickname save_by_name,
        t3.chinese_name microbe_name,
        t3.latin_name,
        t4.name tube_name,
        t1.id,
        t1.code,
        t1.expiration_date,
        t1.save_date,
        t1.status,
        t1.create_time,
        t1.remark,
        t1.thaw_freeze_cycle_count,
        t5.id stock_id,
        t1.box_code,
        t1.generation_number
        FROM
        strain_freezing_tube_stock_pre_entry t1
        left join system_users t2 on t1.save_by = t2.id and t2.deleted= 0
        left join strain_microbe_basic_info t3 on t3.id = t1.microbe_id and t3.deleted= 0
        left join strain_freezing_tube_info t4 on t4.id = t1.tube_id and t4.deleted= 0
        left join strain_freezing_tube_stock_info t5 on t5.stock_pre_entry_id = t1.id and t5.deleted = 0
        where t1.deleted =0
            <if test="req.saveByName != null and req.saveByName != ''">
                and t2.nickname like concat('%', #{req.saveByName}, '%')
            </if>
            <if test="req.microbeName != null and req.microbeName != ''">
                and t3.chinese_name like concat('%', #{req.microbeName}, '%')
            </if>
            <if test="req.code != null and req.code != ''">
                and t1.code like concat('%', #{req.code}, '%')
            </if>
            <if test="req.createTime != null and req.createTime.length == 2">
                and t1.create_time &gt;= #{req.createTime[0]}
                and t1.create_time &lt;= #{req.createTime[1]}
            </if>
            <if test="req.status != null">
                and t1.status = #{req.status}
            </if>
            <if test="req.remark != null and req.remark != ''">
                and t1.remark like concat('%', #{req.remark}, '%')
            </if>
            <if test="req.boxCode != null and req.boxCode != ''">
                and t1.box_code = #{req.boxCode}
            </if>
        order by t1.box_code desc,t1.code,t5.tube_position_x,t5.tube_position_y
    </select>
    <select id="selectPage3"
            resultType="cn.iocoder.yudao.module.strain.controller.admin.freezingtubestockpreentry.vo.FreezingTubeStockPreEntryRespVO">
        SELECT
        t2.nickname save_by_name,
        t3.chinese_name microbe_name,
        t3.latin_name,
        t4.name tube_name,
        t1.id,
        t1.code,
        t1.expiration_date,
        t1.save_date,
        t1.status,
        t1.create_time,
        t1.remark,
        t1.thaw_freeze_cycle_count,
        t5.id stock_id,
        t1.box_code
        FROM
        strain_freezing_tube_stock_pre_entry t1
        left join system_users t2 on t1.save_by = t2.id and t2.deleted= 0
        left join strain_microbe_basic_info t3 on t3.id = t1.microbe_id and t3.deleted= 0
        left join strain_freezing_tube_info t4 on t4.id = t1.tube_id and t4.deleted= 0
        left join strain_freezing_tube_stock_info t5 on t5.stock_pre_entry_id = t1.id and t5.deleted = 0
        where t1.deleted =0
        and not exists (
        select 1 from strain_outbound_sub_application a1
        join strain_outbound_application a2 on a2.id = a1.parent_id and a2.appro_result='1' and a1.deleted = 0 and a2.deleted = 0
        where a1.specimen_id = t1.id
        )
        <if test="req.saveByName != null and req.saveByName != ''">
            and t2.nickname like concat('%', #{req.saveByName}, '%')
        </if>
        <if test="req.microbeName != null and req.microbeName != ''">
            and t3.chinese_name like concat('%', #{req.microbeName}, '%')
        </if>
        <if test="req.code != null and req.code != ''">
            and t1.code like concat('%', #{req.code}, '%')
        </if>
        <if test="req.createTime != null and req.createTime.length == 2">
            and t1.create_time &gt;= #{req.createTime[0]}
            and t1.create_time &lt;= #{req.createTime[1]}
        </if>
        <if test="req.status != null">
            and t1.status = #{req.status}
        </if>
        <if test="req.remark != null and req.remark != ''">
            and t1.remark like concat('%', #{req.remark}, '%')
        </if>
        order by t1.box_code desc,t1.code,t5.tube_position_x,t5.tube_position_y
    </select>
    <select id="selectPage4"
            resultType="cn.iocoder.yudao.module.strain.controller.admin.expiredWarning.vo.ExpiredWarningRespVO">
        SELECT
            t2.nickname save_by_name,
            t3.chinese_name ,
            t3.latin_name,
            t3.microbe_type,
            t3.source,
            t3.useage,
            t1.id,
            t1.code specimen_code,
            t1.expiration_date,
            t3.temperature,
            t1.save_date,
            t1.status,
            t1.create_time,
            t1.remark,
            t1.thaw_freeze_cycle_count,
            t5.id stock_id,
            t1.box_code
        FROM
            strain_freezing_tube_stock_pre_entry t1
                left join system_users t2 on t1.save_by = t2.id and t2.deleted= 0
                left join strain_microbe_basic_info t3 on t3.id = t1.microbe_id and t3.deleted= 0
                left join strain_freezing_tube_stock_info t5 on t5.stock_pre_entry_id = t1.id and t5.deleted = 0
        where t1.deleted =0
        and t1.expiration_date &lt;= DATE_ADD(CURDATE(), INTERVAL 30 DAY)
        and t1.status = '1'
        <if test="req.saveByName != null and req.saveByName != ''">
            and t2.nickname like concat('%', #{req.saveByName}, '%')
        </if>
        <if test="req.chineseName != null and req.chineseName != ''">
            and t3.chinese_name like concat('%', #{req.chineseName}, '%')
        </if>
          <if test="req.latinName != null and req.latinName!=''">
              and t3.latin_name like concat('%', #{req.latinName}, '%')
          </if>
          <if test="req.microbeType != null and req.microbeType!=''">
              and t3.microbe_type =  #{req.microbeType}
          </if>
        <if test="req.specimenCode != null and req.specimenCode != ''">
            and t1.code like concat('%', #{req.specimenCode}, '%')
        </if>
        order by t1.box_code desc,t1.code,t5.tube_position_x,t5.tube_position_y
    </select>
</mapper>