<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.strain.dal.mysql.resave.ResaveInfoMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="list" resultType="cn.iocoder.yudao.module.strain.controller.admin.resave.vo.ResaveRespVO">
        SELECT
            t2.CODE applyCode,
            t1.specimen_id specimenCode,
            t1.specimen_code microbeCode,
            t1.chinese_name chineseName,
            t1.latin_name latinName,
            stock_id stockId
        FROM
            strain_outbound_sub_application t1
                LEFT JOIN strain_outbound_application t2 ON t2. id = t1.parent_id
        WHERE
            resave = 0
          AND t2.appro_result = 2
        <if test="param.applyCode != null and param.applyCode != ''">
            AND t2.CODE = #{applyCode}
        </if>

        order by t2.code

    </select>
</mapper>
